<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
</head>

<body>
    <nav>
        <ul>
            <li class="web-logo stylised">LeadScanner</li>
            {{#if uname}}
            <li class="nav-btn"><a href="home">HOME</a></li>
            <li class="nav-btn"><a href="logout">LOGOUT</a></li>
            {{/if}}
        </ul>
    </nav>
    <main class="container">
        {{{body}}}
    </main>
</body>
<footer class="stylised">
    <h3><strong>Made with <span style="color: red">♥</span>
        </strong> </h3>
</footer>

</html>