<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/reset.css">
</head>

<body>
    {{{body}}}
</body>

<footer>

    <h4>This is a footer</h4>
</footer>

</html>