<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scan To Lead</title>
</head>

<body>
    <fieldset>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <legend>File Upload</legend>
            <%= typeof msg != 'undefined' ? msg : '' %>
            <div>
                <label for="avatar">Profile picture:</label>
                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </fieldset>

    <img src="<%= typeof file != 'undefined' ? file : '' %>" alt="" srcset="" height: '200px' width: '200px'>
</body>

</html>