<h1 style="text-align: center">Hello {{user}}</h1>
<div class="well" style="text-align: center">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="bcard">Please scan/upload the image of business card you want to scan</label>
            <input class="form-control-alt" type="file" name="bcard" id="bcard" accept="image/png, image/jpeg">
            <p class="help-block">Only jpeg/png. Max File Size 10Mb</p>
        </div>
        <button type="submit" class="btn btn-primary btn-block-sm"><i class="fa fa-upload"></i> Upload</button>
    </form>

    <h1 style="text-align: center">OR</h1>

    <button class="btn btn-primary btn-block-sm" type="button"><a style="color: white" href="/create-lead?type=manual">Enter
            Lead Details</a></button>
</div>