<h1 style="text-align: center">Hello, {{uname}}
    <div class="input-types">
        <div class="camera-ip">
            <a href="/upload-image" class="link-btn">Use your device's camera to scan printed or handwritten cards.
            </a>
        </div>
        <h1 style="text-align: center">OR</h1>
        <div class="voice-ip">
            <a href="/listen" class="link-btn">Speak out the lead details</a>

        </div>
        <h1 style="text-align: center">OR</h1>
        <a href="/create-lead?type=manual" class="link-btn">Enter Lead Details</a>
    </div>