<form action="login" method="post">
    <div class="form-group">
        <label for="user">Username</label>
        <input type="text" name="user">
    </div>
    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" name="pwd">
    </div>
    <button type="submit">LOGIN</button>
</form>