<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/login.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>

<body>
    <main class="wrapper">
        <div id="left">
            <section class="login">
                <div class="login-logo">LeadScanner</div>

                <form action="login" method="post" onsubmit="return validate(this)">
                    <div>
                        <label for="user">Username Or Email</label>
                        <input type="text" name="user" id="name" />
                    </div>
                    <div>
                        <label for="pwd">Password</label>
                        <input type="password" name="pwd" id="pwd" />
                    </div>
                    <button type="submit" class="primary-btn">Sign In</button>
                </form>
                <a href="">Forgot Password ?</a>

                <div class="or">
                    <hr />
                    <span>OR</span>
                    <hr />
                </div>
                <a href="" class="secondary-btn">Create an account</a>
            </section>
            <footer>
                Made with <span style="color: crimson">&hearts;</span>
            </footer>
        </div>
        <div id="right">
            <div class="showcase">
                <h3 class="showcase-title">
                    An Intelligent way to scan business cards
                </h3>
                <button class="secondary-btn">Know More</button>
            </div>
        </div>
    </main>
</body>
<script>
    function validate(form) {
        var uname = document.getElementById('name').value;
        var pwd = document.getElementById('pwd').value;
        if (uname.length >= 7 && pwd.length >= 8) {
            return true;
        }
        else {
            return false;
        }
    }
</script>

</html>