<h1>Lead created successfully</h1>

<h3>A mail has been sent</h3>

<h3>Redirecting you to home ........</h3>

<script>
    document.body.style.background = "#c6ff00";
    window.setTimeout(function () {
        window.location.href = "home";
    }, 5000);
</script>